
*{
    margin: 0%;
    padding: 0%;
}


header{
  background-image: url('biji.jpg');
}

.header1{
  position: static;

}

.headerlogo1{
  padding-top: 1%; 
  position: static;
}

.headerlogo{
  float: left;
  padding-bottom: 5%;
  position: static;
}



.tulisanheader{

  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 5%;
  position: static;
}

.namatoko{
  font-size: 500%;
  text-decoration: underline;
  position: static;
}

.keterangan{
  font-size: 200%;
  position: static;

}

.header2{
  background-color: aqua;
  text-align: center;
  font-size: 175%;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.8);

}

.dropdown{
  display: inline-block;
  position: relative;
  background-color: aqua;
  padding-right: 10%;
}


.btn{
  padding : 14px 2px;
}

.item{
  position: absolute;
  background-color: blue;
  width: 100%;
  display: none;
  z-index: 1;
}

a{
  text-decoration: none;
  color: black;
}

.item>div:hover{
  background-color: aqua;
}

.dropdown:hover .item{
  display: block;
  

}

.dropdown img{
  height: 25px;
  width: 25px;
}

.dropdown:hover{
  background-color: white;
  font-weight: bold;
}

.dropdown:hover img{
  width: 40px;
  height: 40px;


}

footer{
  background-color: aqua;
  text-align: center;
  font-size: 150%;
}

.footer2{
  text-align: center;
  padding-bottom: 2%;
}

.dropdown1{
  display: inline-block;
  position: relative;
  background-color: aqua;
  padding-right: 10%;
}

.dropdown1 img{
  height: 25px;
  width: 25px;
  
}


@media only screen and (max-width: 620px)
/* harus pake pixel */
{


    .dropdown{
        display: block;
    }
    .item{
        position: relative;
        /* sifat dari parent di turunin */
    }

    .item>div:hover{
        background-color: lightgray;
    }
    
    .headerlogo{
        height:30%;
        width: 30%;
    }
 

    .namatoko{
        font-size: 500%;

    }
    
    .keterangan{
        font-size: 200%;

    
    }



}

/* content */

body{
    background-image: url('background.png');
}

#judul{
    font-size: 400%;
    text-align: center;
    font-weight: bold;
}

#slider {
    width: 1000px;
    border: 5px solid grey;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .slide {
    width: 500px;
    height: 500px;
    position: relative;
    float: left;
  }
  
.gbr{
    width: 450px;
    height: 450px;
    padding: 5%;
}

  #slide-holder {
    width: 400%;
    position: relative;
    animation: slides 15s infinite;
  }
  

  @keyframes slides {
    0% {

              transform: translateX(0);
    }
    33% {

              transform: translateX(-400px);
    }
    66% {

              transform: translateX(-800px);
    }
    100% {
  
              transform: translateX(0);
    }
  }
 
  
  .slide:nth-child(1) {
    background: #00ffff;
  }
  
  .slide:nth-child(2) {
    background: #d3d3d3;
  }
  
  .slide:nth-child(3) {
    background: #00ffff;
  }

  

  .gmbr{
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid black;

  }

  .judulkopi{
      font-size: 200%;
      font-weight: bold;

  }

  .ketkopi{
      font-size: 135%;
      line-height: 32px;
  }

  .kata{
    border: 2px solid black;
    background-color: hsla(210, 4%, 75%, 0.5);
    padding: 2%;
  }

  #latte,#cappuccino,#frappuccino{
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 2%;
    
 

  }

  
@media only screen and (max-width: 620px){

  #slider {
    width: 500px;
    height: 250px;

  }
  
  .slide {
    width: 250px;
    height: 250px;

  }
  
  .gbr{
    width: 200px;
    height: 200px;
    padding: 5%;
  }

  #slide-holder {
    width: 400%;
    position: relative;
    animation: slides 15s infinite;
  }
  

  @keyframes slides {
    0% {

              transform: translateX(0);
    }
    33% {

              transform: translateX(-200px);
    }
    66% {

              transform: translateX(-400px);
    }
    100% {
  
              transform: translateX(0);
    }
  }
 
  .gmbr{
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    
    border: 2px solid black;

  }

  #judul{
    font-size: 250%;
  }

  .judulkopi{
      font-size: 150%;
      font-weight: bold;

  }

  .ketkopi{
      font-size: 90%;
  }

  .kata{
    border: 2px solid black;
    background-color: hsla(210, 4%, 75%, 0.5);
  }

  #latte,#cappuccino,#frappuccino{
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 2%;
    
 

  }

}